            <div id="dashboard-list" ng-hide="selected">
                <h2>Dashboards:</h2>
                <ul>
                    <li ng-repeat="dash in dashboards" >
                        <ul ng-click="select(dash)">
                            <li><strong>{{ dash.name }}</strong></li>
                            <li>{{ dash.desc }}</li>
                            <li>{{ dash.author }}</li>
                            <li>{{ dash.email}}</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="grid-container" ng-if="selected">                                                    
                <ul id="grid" class="grid" grid>                                                 
                    <li ng-repeat="widget in currentScreen.widgets"
                        data-x="{{ widget.col }}" data-y="{{ widget.row }}" 
                        data-w="{{ widget.sizex }}" data-h="{{ widget.sizey }}" >
                        <widget class="inner" type="{{ widget.type }}" instance="{{ widget.name }}"> </widget>
                    </li>
                </ul>                                                                       
            </div>      
