/*
Logo

TODO: Add a little bit more about how to place and use the logo, based on the corporate style guide.

Markup:
<a class="intrinsic-logo" style="width: 300px;">
  <svg class="logo small" alt="Bytemark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" width="512.254px" height="66.05px" viewBox="0 0 512.254 66.05" xml:space="preserve">
    <path fill="none" d="M51.898,50.314h11.93c4.254,0,7.958-1.193,7.958-6.281c0-3.883-2.314-6.014-7.127-6.014H51.894v12.295 M51.898,25.715h10.73c4.25,0,6.935-1.199,6.935-5.452c0-3.326-2.78-4.529-6.935-4.529h-10.73V25.715z M31.551,0h36.162 c17.392,0,21.09,9.815,21.09,16.56c0,6.667-3.238,10.265-8.144,12.954c5.923,2.035,11.472,6.747,11.472,16.466 c0,13.217-11.472,20.066-23.12,20.066h-37.46V0z"></path>
    <polygon fill="none" points="104.822,41.719 81.601,0 104.078,0 115.086,24.331 126.557,0 148.846,0 125.171,41.719 125.171,66.047 104.822,66.047"></polygon>
    <polygon fill="none" points="157.541,16.938 139.043,16.938 139.043,0 196.388,0 196.388,16.938 177.891,16.938 177.891,66.047 157.541,66.047"></polygon>
    <polygon fill="none" points="194.626,0 249.293,0 249.293,16.938 214.973,16.938 214.973,25.163 246.146,25.163 246.146,40.887 214.973,40.887 214.973,49.121 250.307,49.121 250.307,66.047 194.626,66.047"></polygon>
    <polygon fill="none" points="249.109,0 278.061,0 287.497,38.848 287.682,38.848 297.115,0 326.064,0 326.064,66.047 306.832,66.047 306.832,23.683 306.641,23.683 295.171,66.047 280.001,66.047 268.533,23.683 268.352,23.683 268.352,66.047 249.109,66.047"></polygon>
    <path fill="none" d="M361.58,42.457l-5.912-20.339h-0.189l-6.384,20.339H361.58z M345.576,0h19.89l24.05,66.047H368.43 l-2.781-9.434H344.66l-2.959,9.434h-20.444L345.576,0z"></path>
    <path fill="none" d="M405.146,28.865h10.634c3.792,0,8.979-0.646,8.979-6.565c0-4.163-2.314-6.566-10.088-6.566h-9.524 L405.146,28.865 M384.794,0h38.759c11.562,0,21.55,6.389,21.55,18.88c0,6.835-3.15,14.052-9.895,16.554 c5.544,2.125,8.965,8.229,9.708,16.463c0.278,3.229,0.372,11.096,2.221,14.15h-20.353c-1.018-3.328-1.38-6.754-1.662-10.175 c-0.559-6.29-1.111-12.856-9.156-12.856h-10.82V66.05h-20.352V0z"></path>
    <polygon fill="none" points="444.636,0 464.988,0 464.988,22.755 465.176,22.755 483.292,0 508.363,0 484.41,25.812 512.254,66.047 486.906,66.047 470.628,40.334 464.988,46.537 464.988,66.047 444.636,66.047"></polygon>
    <rect y="8.652" fill="none" width="20.23" height="19.252"></rect>
    <rect y="39.874" fill="none" width="20.23" height="19.247"></rect>
  </svg>
</a>

Styleguide 6
*/

.intrinsic-logo {
  width: 100%;
  display: inline-block;
  &:after {
    display: block;
    content: "";
    padding-bottom: 13%;
  }
  position: relative;
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
svg.logo {
  //display: inline-block;

  // &.small {
  //   width: 86px;
  //   height: 11px;
  // }
  // &.medium {
  //   width: 86px;
  //   height: 11px;
  // }

  path, polygon, rect {
    fill: $blue;
    @include transition-property("fill");
    @include transition-duration(0.2s);
    @include transition-timing-function($ease-in-out-quad);
  }

  &:hover {
    path, polygon, rect {
      fill: #fff;
    }
  }
}
