nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

}


nav.left-pane {
  a {
    //font-weight: 600;
    color: rgba(#fff, 0.9);
    padding-left: 0;
  }
  ul {
    border-top: 1px dotted rgba(#fff, 0.2);
    ul {
      border-bottom: 1px dotted rgba(#fff, 0.2);
      border-top: none;
      //padding-bottom: 0.5em;
      li {
        border: none;
      }
      a {
        margin-left: $half-padding;
        font-weight: normal;
        border: none;
        color: #fff;

      }
    }
  }

  span.section-number {
    font-size: 0.9em;
    color: lighten($text-color, 15);
    font-weight: 400;
    display: inline-block;
    margin-left: -0.5em;
    padding-right: 0.4em;
    &:after {
      content: ".";
    }
  }
}