/* 
 *= require jquery-ui
 */

@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,600italic');
@import "base";
@import "colors";
@import "fonts";

* {
    font-family: $font-family;
    color: $text-color;
}

h1, h2, h3 {
    font-family: 'NeoTech-Regular';
}

body {
    background: $blue;
}

fieldset, #dashboard-list {
    background: $off-white;
}


.grid-container {
  position: absolute;
  top: 0px;
  left: 0;
  right: 20px;
  bottom: 0;
  overflow: auto;
}
.grid {
  position: relative;
  height: 100%;
  list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width 0.2s,
                      height 0.2s;
          transition: width 0.2s,
                      height 0.2s;
}
  .grid li {
    position: absolute;
    z-index: 1;
    font-weight: bold;
    line-height: 4em;
    text-align: center;
    cursor: pointer;
    -webkit-transition: top 0.2s,
                        left 0.2s,
                        width 0.2s,
                        height 0.2s,
                        font-size 0.2s,
                        line-height 0.2s;
            transition: top 0.2s,
                        left 0.2s,
                        width 0.2s,
                        height 0.2s,
                        font-size 0.2s,
                        line-height 0.2s;
    height: 200px;
    width: 200px;
    transition: 'width, height' 0.5s;
  }
  .grid li .inner {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 0;
    -webkit-transition: background 3s;
            transition: background 3s;
  }
  .grid li.changed .inner {
    background: #ffff66;
    -webkit-transition: none;
            transition: none;
  }
  .grid li.ui-draggable-dragging {
    -webkit-transition: none;
            transition: none;
  }
  .grid li.position-highlight {
    -webkit-transition: none;
            transition: none;
  }
    .grid li.position-highlight .inner {
      border: none;
      background: #ccc;
    }

widget {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background:$yellow;
}
widget > ng-include {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
}

widget > ng-include > div {
    position:absolute;
    top:0;left:0;right:0;bottom:0;
}
